<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tabulator + Spring Boot</title>
    <link th:href="@{/libs/tabulator/tabulator.min.css}" rel="stylesheet">
    <script th:src="@{/libs/tabulator/tabulator.min.js}"></script>


</head>
<body>

<div layout:fragment="content">


        <div class="row">
            <div class="col-md-11">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-center">
                            <div>
                                <h3>Groups</h3>
                            </div>
                        </div>

                        <div id="myTreeview1"></div>
                    </div>
                </div>
            </div>


    </div>



<script th:inline="javascript">

    var jsonString = [[${groups}]];
    var jsonData = JSON.parse(jsonString);

    console.log(jsonData)

    const tree1 = new Treeview({
        containerId: 'myTreeview1',   // ID of the HTML element to render the tree into
        data: jsonData,             // Your hierarchical data
        searchEnabled: true,          // Enable the search bar (default: true)
        showExpandCollapseAllButtons: true,
        initiallyExpanded: true,     // Start with nodes collapsed (default: false)
        multiSelectEnabled: true,     // Enable multi-selection by clicking nodes
        searchPlaceholder: "Search groups...", // Placeholder text for the search bar
        onSelectionChange: (selectedNodesData) => { // Callback when selection changes
            var selected = selectedNodesData.length > 0 ? selectedNodesData[0] : null
            console.log('Selected Node (Tree 2):', selectedNodesData.length > 0 ? selectedNodesData[0] : null);
            // Example: Update a display area with selected nodes
            // document.getElementById('output-area').textContent = JSON.stringify(selectedNodesData, null, 2);
            if(selected != null) {
                window.location.href = `/app/users/${selected.id}`;
            }
        }
    });

</script>
</div>
</body>
</html>
