<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Metrics</title>
    <script th:src="@{/libs/chartjs/chart.js}"></script>
</head>
<body>

<span layout:fragment="page-title">Metrics</span>

<div layout:fragment="content">

    <div class="row row-cards">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Current User Statuses</h3>
                </div>
                <div class="card-body">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Today's Activity</h3>
                </div>
                <div class="card-body">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3" id="chartsContainer">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active"
                            id="org-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#org"
                            type="button"
                            role="tab">
                        By Organization
                    </button>
                </li>

                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="empType-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#empType"
                            type="button"
                            role="tab">
                        By Employee Type
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="location-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#location"
                            type="button"
                            role="tab">
                        By Location
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link"
                            id="branch-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#branch"
                            type="button"
                            role="tab">
                        By Branch
                    </button>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane fade show active"
                     id="org"
                     role="tabpanel">

                    <div class="row row-cards">
                        <div class="col-md-4" th:each="org, index : ${data.getOrgStatusCounts()}">
                            <div class="card card-sm">
                                <div class="card-header">
                                    <h4 class="card-title" th:text="${org.getKey()}"></h4>
                                </div>
                                <div class="card-body">
                                    <canvas th:id="${'orgChart'+org.getKey()}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade"
                     id="empType"
                     role="tabpanel">

                    <div class="row row-cards">
                        <div class="col-md-4" th:each="org, index : ${data.getEmployeeTypeStatusCounts()}">
                            <div class="card card-sm">
                                <div class="card-header">
                                    <h4 class="card-title" th:text="${org.getKey()}"></h4>
                                </div>
                                <div class="card-body">
                                    <canvas th:id="${'empTypeChart'+org.getKey()}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade"
                     id="location"
                     role="tabpanel">

                    <div class="row row-cards">
                        <div class="col-md-4" th:each="org, index : ${data.getLocationStatusCounts()}">
                            <div class="card card-sm">
                                <div class="card-header">
                                    <h4 class="card-title" th:text="${org.getKey()}"></h4>
                                </div>
                                <div class="card-body">
                                    <canvas th:id="${'locationChart'+org.getKey()}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="tab-pane fade"
                     id="branch"
                     role="tabpanel">

                    <div class="row row-cards">
                        <div class="col-md-4" th:each="org, index : ${data.getBranchStatusCounts()}">
                            <div class="card card-sm">
                                <div class="card-header">
                                    <h4 class="card-title" th:text="${org.getKey()}"></h4>
                                </div>
                                <div class="card-body">
                                    <canvas th:id="${'branchChart'+org.getKey()}"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">

        var dataString = /*[[${totalLoginChartData}]]*/ {};
        var dataData = JSON.parse(dataString);

        var lineString = /*[[${loginByTimeChartData}]]*/ {};
        var lineData = JSON.parse(lineString);

        const ctx = document.getElementById('myChart');


        new Chart(ctx, {
            type: 'pie',
            data: dataData
        });


        const ctx2 = document.getElementById('myChart2');

        new Chart(ctx2, {
            type: 'line',
            data: lineData
        });

        var orgMap = /*[[${data.getOrgStatusCounts()}]]*/ {};
        var empTypeMap = /*[[${data.getEmployeeTypeStatusCounts()}]]*/ {};
        var locationMap = /*[[${data.getLocationStatusCounts()}]]*/ {};
        var branchMap = /*[[${data.getBranchStatusCounts()}]]*/ {};

        Object.keys(orgMap).forEach(key => {
            const temp = document.getElementById('orgChart'+key);

            new Chart(temp, {
                type: 'pie',
                data: orgMap[key]
            });
        });

        Object.keys(empTypeMap).forEach(key => {
            const temp = document.getElementById('empTypeChart'+key);

            new Chart(temp, {
                type: 'pie',
                data: empTypeMap[key]
            });
        });

        Object.keys(locationMap).forEach(key => {
            const temp = document.getElementById('locationChart'+key);

            new Chart(temp, {
                type: 'pie',
                data: locationMap[key]
            });
        });

        Object.keys(branchMap).forEach(key => {
            const temp = document.getElementById('branchChart'+key);

            new Chart(temp, {
                type: 'pie',
                data: branchMap[key]
            });
        });


    </script>
</div>
</body>
</html>
