<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tabulator + Spring Boot</title>
    <link th:href="@{/libs/tabulator/tabulator.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/libs/autoComplete/autoComplete.min.css}">

    <script th:src="@{/libs/tabulator/tabulator.min.js}"></script>
    <script th:src="@{/libs/fullcalendar/index.global.min.js}"></script>

    <script th:src="@{/libs/autoComplete/autoComplete.min.js}"></script>

</head>
<body>
<div layout:fragment="content">

    <div id="selectionModal" class="modal fade" tabindex="-1" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Status</h5>
                </div>
                <div class="modal-body">
                    <p id="dateRangeText"></p>
                    <select id="statusSelect" class="form-control">
                        <option value="STANDARD">Standard</option>
                        <option value="OUT_OF_OFFICE">Out of Office</option>
                        <option value="WORK_FROM_HOME">WFH</option>
                        <option value="TDY">TDY</option>
                        <option value="SCHEDULED_LEAVE">Scheduled Leave</option>
                    </select>

                    <input type="hidden" id="statusUpdateDateFrom">
                    <input type="hidden" id="statusUpdateDateTo">

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button id="submitStatusUpdateButton" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary"
                                    onclick="bootstrap.Modal.getInstance(document.getElementById('selectionModal')).hide();">
                                Close
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <div>
                    <h3>Profile for <span th:text="${#authentication.name}"></span></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div th:if="${message}" class="alert alert-success">
                <span th:text="${message}"></span>
            </div>

            <!-- Display error message if present -->
            <div th:if="${error}" class="alert alert-danger">
                <span th:text="${error}"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Update Profile</h4>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/app/profile}" method="post" th:object="${form}">
                                        <div class="mb-3">
                                            <label for="notes" class="form-label">Notes</label>
                                            <div class="alert alert-danger" role="alert">
                                                <span th:utext="#{profile.warning}"></span>
                                            </div>
                                            <input type="text" class="form-control" id="notes"
                                                   aria-describedby="notesHelp"
                                                   th:field="*{notes}">
                                            <div id="notesHelp" class="form-text">Add additional information about
                                                yourself
                                            </div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" th:if="${user}">
                            <div class="card">
                                <div class="card-header">
                                    <h4>My Information</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Organization</td>
                                            <td th:text="${user.organization}"></td>
                                        </tr>
                                        <tr>
                                            <td>Employee Type</td>
                                            <td th:text="${user.employeeType}"></td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td th:text="${user.location}"></td>
                                        </tr>
                                        <tr th:if="${user.branch != null}">
                                            <td>Branch</td>
                                            <td th:text="${user.branch}"></td>
                                        </tr>

                                        <tr th:if="${user.email != null}">
                                            <td>Email</td>
                                            <td th:text="${user.email}"></td>
                                        </tr>

                                        <tr th:if="${user.phoneNumber != null}">
                                            <td>Phone</td>
                                            <td th:text="${user.phoneNumber}"></td>
                                        </tr>

                                        <tr th:if="${user.managerDn != null}">
                                            <td>Manager</td>
                                            <td th:text="${user.managerDn}"></td>
                                        </tr>

                                        <tr th:if="${user.averageLoginTime != null}">
                                            <td>Average Login Time</td>
                                            <td th:text="${user.averageLoginTime}"></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div class="alert alert-warning" role="alert">
                                        <span>If any of this information is inaccurate submit a ticket here: <a
                                                th:href="@{${profileUpdateUrl}}" target="_blank">Help Desk</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" th:if="${user}">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Additional Managers</h4>
                                </div>
                                <div class="card-body">

                                    <div class="alert alert-warning" role="alert">
                                        <span>Add additional managers that will be notified if you are not available within your normal login window.</span>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <input
                                                    id="search"
                                                    class="form-control"
                                                    type="text"
                                                    placeholder="Search..."
                                                    autocomplete="off"
                                            />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul id="selectedList" class="list-group">
                                                <!-- Selected items will appear here -->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="text-end">
                                                <button type="button" class="btn btn-primary" id="updateManagers">Update</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Calendar</h3>
                        </div>
                        <div class="card-body">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script th:inline="javascript">

        const userDn = /*[[${userDn}]]*/ '';

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    fetch(`/api/event/all?dn=${userDn}&from=${fetchInfo.startStr}&to=${fetchInfo.endStr}`)
                        .then(res => res.json())
                        .then(data => successCallback(data))
                        .catch(err => failureCallback(err));
                },
                eventClick: function (info) {

                },
                selectable: true,
                select: function (info) {
                    const start = info.start.toISOString();
                    const end = info.end.toISOString();

                    document.getElementById("statusUpdateDateFrom").value = start;
                    document.getElementById("statusUpdateDateTo").value = end;

                    //document.getElementById("selectionModal").style.display = "block";

                    const modal = new bootstrap.Modal(
                        document.getElementById("selectionModal")
                    );
                    modal.show();
                }
            });

            calendar.render();


            function closeModal() {

                const fromDate = document.getElementById("statusUpdateDateFrom").value;
                const toDate = document.getElementById("statusUpdateDateTo").value;
                const selectedStatus = document.getElementById("statusSelect").value;

                fetch("/api/event/update", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        fromDate: fromDate,
                        toDate: toDate,
                        status: selectedStatus,
                    })
                }).then(() => {
                    // Optionally, refresh the calendar to show updated events
                    bootstrap.Modal.getInstance(
                        document.getElementById("selectionModal")
                    ).hide();

                    calendar.unselect();
                    calendar.refetchEvents();
                });

                //calendar.unselect();
            }

            $('#submitStatusUpdateButton').on('click', function () {
                closeModal();
            })

        });

        const selectedListEl = document.getElementById("selectedList");

        // Keep track of selected items
        const selectedItems = new Map();

        new autoComplete({
            selector: "#search",
            threshold: 3,
            debounce: 300,
            searchEngine: "strict",

            data: {
                src: async (query) => {
                    if (!query) return [];
                    const response = await fetch(`/api/users/usersearch?search=${encodeURIComponent(query)}`);
                    return await response.json();
                },
                keys: ["dn"]
            },

            resultsList: {
                maxResults: 10,
                noResults: true
            },

            resultItem: {
                highlight: true
            },

            events: {
                input: {
                    selection: (event) => {
                        const item = event.detail.selection.value;

                        // prevent duplicates
                        if (!selectedItems.has(item.dn)) {
                            addItemToSelectedList(item);
                        }

                        // clear input for next selection
                        document.querySelector("#search").value = "";
                    }
                }
            }
        });

        document.addEventListener("DOMContentLoaded", loadItems);

        /* ---------- LOAD ---------- */
        async function loadItems() {
            const response = await fetch("/api/users/managers/" + userDn);
            const items = await response.json();
            selectedListEl.innerHTML = "";

            items.forEach(item => addItemToSelectedList(item));
        }

        function addItemToSelectedList(item) {
            selectedItems.set(item.dn, item);

            const li = document.createElement("li");
            li.dataset.dn = item.dn;
            li.classList.add("list-group-item");

            const table = document.createElement("table");
            table.style.width = "100%";

            const tbody = document.createElement("tbody");

            const row = document.createElement("tr");
            const cellDn = document.createElement("td");
            const cellDelete = document.createElement("td");
            cellDelete.classList.add("text-end");

            cellDn.innerHTML = item.dn;

            const removeBtn = document.createElement("button");
            removeBtn.textContent = "✖";
            removeBtn.className = "btn btn-danger";
            removeBtn.onclick = () => {
                selectedItems.delete(item.dn);
                li.remove();
            };

            cellDelete.append(removeBtn);

            row.append(cellDn, cellDelete);
            tbody.append(row);
            table.appendChild(tbody);

            li.append(table);
            selectedListEl.appendChild(li);
        }

        document.getElementById("updateManagers").addEventListener("click", async function () {
            const managers = Array.from(selectedItems.values()).map(item => item.dn);
            await fetch("/api/users/managers/update", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(managers)
            })
                .then(data => {
                    console.log("Success:", data);
                    showToast("Managers Updated", { type: "success" });
                })
        });


    </script>

</div>
</body>
</html>
