<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tabulator + Spring Boot</title>
    <link th:href="@{/libs/tabulator/tabulator.min.css}" rel="stylesheet">
    <script th:src="@{/libs/tabulator/tabulator.min.js}"></script>
    <script th:src="@{/libs/fullcalendar/index.global.min.js}"></script>


</head>
<body>
<div layout:fragment="content">

    <div id="selectionModal" class="modal fade" tabindex="-1" style="display:none">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Status</h5>
                </div>
                <div class="modal-body">
                    <p id="dateRangeText"></p>
                    <select id="statusSelect" class="form-control">
                        <option value="STANDARD">Standard</option>
                        <option value="OUT_OF_OFFICE">Out of Office</option>
                        <option value="WORK_FROM_HOME">WFH</option>
                        <option value="TDY">TDY</option>
                        <option value="SCHEDULED_LEAVE">Scheduled Leave</option>
                    </select>

                    <input type="hidden" id="statusUpdateDateFrom">
                    <input type="hidden" id="statusUpdateDateTo">

                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button id="submitStatusUpdateButton" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-md-6">
                            <button type="button" class="btn btn-secondary" onclick="document.getElementById('selectionModal').style.display='none'">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <div>
                    <h3>Profile for <span th:text="${#authentication.name}"></span></h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div th:if="${message}" class="alert alert-success">
                <span th:text="${message}"></span>
            </div>

            <!-- Display error message if present -->
            <div th:if="${error}" class="alert alert-danger">
                <span th:text="${error}"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Update Profile</h4>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/app/profile}" method="post" th:object="${form}">
                                        <div class="mb-3">
                                            <label for="notes" class="form-label">Notes</label>
                                            <div class="alert alert-danger" role="alert">
                                                <span th:utext="#{profile.warning}"></span>
                                            </div>
                                            <input type="text" class="form-control" id="notes" aria-describedby="notesHelp"
                                                   th:field="*{notes}">
                                            <div id="notesHelp" class="form-text">Add additional information about yourself</div>
                                        </div>

                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4>My Information</h4>
                                </div>
                                <div class="card-body">
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Organization</td>
                                            <td th:text="${user.organization}"></td>
                                        </tr>
                                        <tr>
                                            <td>Employee Type</td>
                                            <td th:text="${user.employeeType}"></td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td th:text="${user.location}"></td>
                                        </tr>
                                        <tr th:if="${user.branch != null}">
                                            <td>Branch</td>
                                            <td th:text="${user.branch}"></td>
                                        </tr>

                                        </tbody>
                                    </table>

                                    <div class="alert alert-warning" role="alert">
                                        <p>If any of this information is inaccurate submit a ticket here: <a th:href="@{${profileUpdateUrl}}" target="_blank">Help Desk</a></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h3>Calendar</h3>
                        </div>
                        <div class="card-body">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');

            /*
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                didMount: function () {
                    addDropdownsToDays();
                },
                datesSet: function () {
                    addDropdownsToDays();
                }
            });

             */

            const userDn = /*[[${userDn}]]*/ '';
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    fetch(`/api/event/all?dn=${userDn}&from=${fetchInfo.startStr}&to=${fetchInfo.endStr}`)
                        .then(res => res.json())
                        .then(data => successCallback(data))
                        .catch(err => failureCallback(err));
                },
                eventClick: function (info) {
                    alert('Event: ' + info.event.title);
                    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
                    alert('View: ' + info.view.type);

                    // change the border color just for fun
                    info.el.style.borderColor = 'red';
                },
                selectable: true,
                select: function(info) {
                    const start = info.start.toISOString();
                    const end = info.end.toISOString();

                    document.getElementById("statusUpdateDateFrom").value = start;
                    document.getElementById("statusUpdateDateTo").value = end;

                    //document.getElementById("selectionModal").style.display = "block";

                    const modal = new bootstrap.Modal(
                        document.getElementById("selectionModal")
                    );
                    modal.show();
                }
            });

            calendar.render();

            function addDropdownsToDays() {
                const dayCells = document.querySelectorAll('.fc-daygrid-day');

                dayCells.forEach(cell => {

                    if (cell.querySelector('.day-dropdown')) return;

                    const dateStr = cell.getAttribute('data-date');
                    console.log(dateStr);

                    const response = fetch("/api/event/day", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        },
                        body: JSON.stringify({
                            date: dateStr
                        })
                    })
                        .then(response => {
                            // Optional: Handle HTTP errors
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            // Return the promise from the data extraction method
                            return response.json();
                        })
                        .then(data => {
                            console.log(data);
                            const dropdownContainer = document.createElement('div');
                            dropdownContainer.className = 'day-dropdown';

                            const selectStatus = document.createElement('select');
                            const option1 = document.createElement('option');
                            option1.innerHTML = "Standard";
                            option1.value = "STANDARD";
                            if(data.status === 'STANDARD') option1.selected = true;

                            const option2 = document.createElement('option');
                            option2.innerHTML = "Out of Office";
                            option2.value = "OUT_OF_OFFICE";
                            if(data.status === 'OUT_OF_OFFICE') option2.selected = true;

                            const option3 = document.createElement('option');
                            option3.innerHTML = "WFH";
                            option3.value = "WORK_FROM_HOME";
                            if(data.status === 'WORK_FROM_HOME') option3.selected = true;

                            const option4 = document.createElement('option');
                            option4.innerHTML = "TDY";
                            option4.value = "TDY";
                            if(data.status === 'TDY') option4.selected = true;

                            const option5 = document.createElement('option');
                            option5.innerHTML = "Scheduled Leave";
                            option5.value = "SCHEDULED_LEAVE";
                            if(data.status === 'SCHEDULED_LEAVE') option5.selected = true;

                            selectStatus.add(option1);
                            selectStatus.add(option2);
                            selectStatus.add(option3);
                            selectStatus.add(option4);
                            selectStatus.add(option5);

                            selectStatus.addEventListener('mousedown', e => e.stopPropagation());
                            selectStatus.addEventListener('click', e => e.stopPropagation());
                            selectStatus.addEventListener('change', e => {
                                e.stopPropagation();
                                console.log('Selected:', selectStatus.value, cell.date);
                                //selectStatus.value = '';
                                fetch("/api/event/update", {
                                    method: "POST",
                                    headers: {
                                        "Content-Type": "application/json"
                                    },
                                    body: JSON.stringify({
                                        date: dateStr,
                                        status: selectStatus.value,
                                    })
                                })
                            });

                            dropdownContainer.appendChild(selectStatus);

                            cell.appendChild(dropdownContainer);
                        });


                });
            }


            document.addEventListener('click', function () {
                document.querySelectorAll('.dropdown-menu').forEach(menu => {
                    menu.classList.remove('show');
                });
            });

            function closeModal() {

                const fromDate = document.getElementById("statusUpdateDateFrom").value;
                const toDate = document.getElementById("statusUpdateDateTo").value;
                const selectedStatus = document.getElementById("statusSelect").value;

                fetch("/api/event/update", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        fromDate: fromDate,
                        toDate: toDate,
                        status: selectedStatus,
                    })
                }).then(() => {
                    // Optionally, refresh the calendar to show updated events
                    bootstrap.Modal.getInstance(
                        document.getElementById("selectionModal")
                    ).hide();

                    calendar.unselect();
                    calendar.refetchEvents();
                });

                //calendar.unselect();
            }

            $('#submitStatusUpdateButton').on('click', function (){
                closeModal();
            })

        });

    </script>

</div>
</body>
</html>
