<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>
</head>
<body>

<span layout:fragment="page-title">Access denied</span>

<div layout:fragment="content">

    <div class="card">
        <div class="card-body">
            <div class="empty">
                <div class="empty-icon text-danger">
                    <i class="ti ti-lock fs-1"></i>
                </div>
                <p class="empty-title">Unauthorized</p>
                <p class="empty-subtitle text-secondary" th:utext="#{error.unauthorized}"></p>
                <div class="empty-action">
                    <a th:href="@{/app}" class="btn btn-primary">
                        <i class="ti ti-home me-1"></i>Take me home
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
