<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tabulator + Spring Boot</title>
    <link th:href="@{/libs/tabulator/tabulator.min.css}" rel="stylesheet">
    <script th:src="@{/libs/tabulator/tabulator.min.js}"></script>
</head>
<body>
<div layout:fragment="content">


    <div class="card">
        <div class="card-body">

            <div class="alert alert-danger" role="alert">
                <span th:utext="#{error.unauthorized}"></span>
            </div>

        </div>
    </div>
</div>
</body>
</html>
