<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tabulator + Spring Boot</title>
    <link th:href="@{/libs/tabulator/tabulator.min.css}" rel="stylesheet">
    <script th:src="@{/libs/tabulator/tabulator.min.js}"></script>
    <script th:src="@{/libs/fullcalendar/index.global.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-center">
                <h3 th:text="${user.dn}"></h3>
            </div>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>User Information</h4>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Current Status</td>
                                    <td><span th:text="${user.status}"/></td>
                                </tr>
                                <tr>
                                    <td>Organization</td>
                                    <td th:text="${user.organization}"></td>
                                </tr>
                                <tr>
                                    <td>Employee Type</td>
                                    <td th:text="${user.employeeType}"></td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td th:text="${user.location}"></td>
                                </tr>
                                <tr th:if="${user.branch != null}">
                                    <td>Branch</td>
                                    <td th:text="${user.branch}"></td>
                                </tr>

                                <tr>
                                    <td>Email</td>
                                    <td th:text="${user.email}"></td>
                                </tr>

                                <tr>
                                    <td>Phone</td>
                                    <td th:text="${user.phoneNumber}"></td>
                                </tr>

                                <tr th:if="${user.managerDn != null}">
                                    <td>Manager</td>
                                    <td th:text="${user.managerDn}"></td>
                                </tr>

                                <tr th:if="${user.averageLoginTime != null}">
                                    <td>Average Login Time</td>
                                    <td th:text="${user.averageLoginTime}"></td>
                                </tr>

                                <tr>
                                    <td>Notes</td>
                                    <td><span th:text="${user.notes}"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Member Of</h4>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                <tr th:each="group : ${user.memberOf}">
                                    <td>
                                        <a th:href="@{'/app/users/'+${group.dn}}" th:text="${group.cn}"></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Audit Log</h4>
                        </div>
                        <div class="card-body">
                            <div id="audit-table"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" sec:authorize="hasAuthority('ADMIN')">
                    <div class="card">
                        <div class="card-header">
                            <h4>Role</h4>
                        </div>
                        <div class="card-body">
                            <form th:action="@{/app/user/details}" method="post" th:object="${user}">
                                <input type="hidden" th:field="*{dn}"/>
                                <div class="form-group row m-2">
                                    <div class="col-md-6">
                                        <select class="form-select" id="role" th:field="*{role}">
                                            <option th:each="role : ${roles}" th:value="${role.name()}"
                                                    th:text="${role.name()}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row m-2">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                    <div class="card">
                        <div class="card-header">
                            <h4>Event Calendar</h4>
                        </div>
                        <div class="card-body">
                            <div id='calendar'></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <script th:inline="javascript">

        const userDn = /*[[${user.dn}]]*/ "test";

        const table = new Tabulator("#audit-table", {
            ajaxURL: "/api/users/checkinoutrecords/" + userDn,

            ajaxResponse: function (url, params, response) {
                // Tabulator expects array of row data
                console.log("Server response:", response);
                return {
                    data: response.content,
                    last_page: response.page.totalPages,
                    total_records: response.page.totalElements
                };
            },
            pagination: true,
            paginationMode: "remote",
            paginationSize: 10,
            paginationInitialPage: 1,
            layout: "fitColumns", //fit columns to width of table (optional)
            columns: [
                {title: "Timestamp", field: "timestamp"},
                {title: "Action", field: "action"}

            ],
        });

        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            const calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                themeSystem: 'bootstrap5',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek'
                },
                events: function (fetchInfo, successCallback, failureCallback) {
                    fetch(`/api/event/allWithLogins?dn=${userDn}&from=${fetchInfo.startStr}&to=${fetchInfo.endStr}`)
                        .then(res => res.json())
                        .then(data => successCallback(data))
                        .catch(err => failureCallback(err));
                }
            });

            calendar.render();

        });

    </script>
</div>
</body>
</html>
