<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Tabulator + Spring Boot</title>
    <link th:href="@{/libs/tabulator/tabulator.min.css}" rel="stylesheet">
    <link rel="stylesheet"
          th:href="@{/libs/flatpickr/flatpickr.min.css}"/>

    <script th:src="@{/libs/flatpickr/flatpickr.min.js}"></script>
    <script th:src="@{/libs/tabulator/tabulator.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <h3>User Table for <span th:text="${group}"></span></h3>

    <div class="row">
        <div class="col-md-12">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" th:checked="${isFavorite}" id="favorite-btn">
                <label class="form-check-label" for="advanced-btn">Favorite</label>
            </div>
            <div>
                <form th:action="@{/app/group/report}" method="post">
                    <input type="hidden" name="groupDn" th:value="${groupDn}">
                    <input class="form-control" id="reportRange" type="text" placeholder="Select Report Range">
                    <input type="hidden" name="fromDate" id="fromDate">
                    <input type="hidden" name="toDate" id="toDate">
                    <button type="submit" class="btn btn-primary">Generate Report</button>
                </form>

                <a th:href="@{'/app/group/report/'+ ${groupDn}}">Generate Report</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="advanced-btn">
                <label class="form-check-label" for="advanced-btn">Advanced</label>
            </div>
        </div>
    </div>
    <div id="user-table"></div>

    <script th:inline="javascript">
        const groupName = /*[[${group}]]*/ "test";
        const groupDn = /*[[${groupDn}]]*/ "test";

        const table = new Tabulator("#user-table", {
            ajaxURL: "/api/users/group/" + groupDn,

            ajaxResponse: function (url, params, response) {
                // Tabulator expects array of row data
                return response.data;
            },
            pagination: "local",
            paginationSize: 10,
            layout:"fitDataStretch", //fit columns to width of table (optional)
            layoutColumnsOnNewData:true,
            columns: [
                {title: "Name", field: "cn", minWidth: 100, resizable:true, headerFilter: "input"},
                {title: "DN", field: "dn", minWidth: 150, visible: false, resizable:true, headerFilter: "input"},
                {title: "Status", field: "status", formatter: function(cell){
                        let value = cell.getValue();

                        if(value === "IN"){
                            cell.getElement().style.color = "green";
                        }else if(value === "OUT"){
                            cell.getElement().style.color = "blue";
                        }else if(value === "AWAY"){
                            cell.getElement().style.color = "purple";
                        }else if(value === "NONE"){
                            cell.getElement().style.color = "gray";
                        }
                        return value;
                    }},
                {title: "Checked In", field: "checkedInAt", visible: false, resizable:true},
                {title: "Last Status Change", field: "lastStatusChangeAt", resizable:true},
                {title: "Checked Out", field: "checkedOutAt", visible: false, resizable:true},
                {title: "Notes", field: "notes", widthGrow: 3}
            ],
        });

        table.on("rowClick", function(e, row){
            const data = row.getData();
            window.location.href = `/app/user/details/${data.dn}`;
        });

        document.getElementById("advanced-btn").addEventListener("change", (event) => {

            if((event.target.checked)){
                table.showColumn("checkedInAt");
                table.showColumn("checkedOutAt");
                table.showColumn("dn");
                table.hideColumn("cn");
            }else{
                table.hideColumn("checkedInAt");
                table.hideColumn("checkedOutAt");
                table.hideColumn("dn");
                table.showColumn("cn");
            }
            table.redraw(true);

        });

        document.getElementById("favorite-btn").addEventListener("change", async (event) => {
            const url = "/api/groups/favoriteGroup";

            const data = {
                groupDn: groupDn,
                selected: event.target.checked
            }

            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            });
        });

        const picker = flatpickr("#reportRange", {
            enableTime: false,
            dateFormat: "Y-m-d",
            mode: "range",
            //time_24hr: true,
            //defaultDate: sessionDateTime,
            onClose: function(selectedDates) {
                if (!selectedDates.length) return;

                document.getElementById("fromDate").value = selectedDates[0].toISOString();
                document.getElementById("toDate").value = selectedDates[1].toISOString();
                //sendSelectedDateTime(selectedDates[0]);
            }
        });

    </script>
</div>
</body>
</html>
